/* Set the font for the entire page to "Poppins" */
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* Define a border style with rounded corners */
#myBorder,
.myBorder {
  border: 2px solid #000;
  border-radius: 0.75rem;
}
#myBorder2,
.myBorder2 {
  border: 2px solid wheat;
  border-radius: 0.75rem;
}
/* Styling for the main container */
.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* flex-wrap: wrap; */
  /* height: 0ch; */
  /* width: 100%; */
  width: 100vw;

  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
}

/****************** navBar  *********************/

/* Styling for the navbar */
#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 30.75rem; */
  margin: 1.81rem 5vw 0rem 5vw;
  width: 88vw;
}

/* Styling for the h1 element within the navbar */
#navBar > h1 {
  color: #072049;
  font-family: Eczar;
  font-size: 2.1875rem;
  font-weight: 700;
}

/* Styling for the navigation links within the navbar */
#navBar > #navLinks {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 6.87rem;
}

/* Responsive styling for the navbar on smaller screens */
@media screen and (max-width: 768px) {
  #navBar {
    flex-direction: column;
    justify-content: center;
    width: auto;
    align-items: center;
    margin: 2rem 2vw 2rem 2vw;
  }

  #navBar > h1 {
    justify-content: center;

    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
  }

  #navBar > #navLinks {
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  #navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
    /* margin: 2rem 1vw 2rem 1vw; */
  }

  #navBar > h1 {
    margin-bottom: 1rem;
  }

  #navBar > #navLinks {
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 300px) {
  #navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    /* margin: 2rem 1vw 2rem 1vw; */
  }

  #navBar > h1 {
    margin-bottom: 1rem;
  }

  #navBar > #navLinks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}
/******************** index.html **********************/

.container2 {
  /* display: flex; */
  /* flex-direction: row; */
}
/* Styling for section 1 */
.section1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* margin: 5.625rem 0 5.625rem 0; */
  margin-bottom: 12rem;
  /* height: 75rem; */
  height: max-content;
  overflow: visible;

  /* height: 85rem; */
  /* width: 85rem; */
  width: max-content;
}

#rightSectionImg {
  height: 57rem;
  width: 57rem;
  object-fit: contain;
  position: relative;
  margin-left: -7rem;
  margin-top: 3rem;
}

/* Styling for the section 1 h1 element */
.section1H1 {
  color: #000;
  font-family: "Poppins";

  font-size: 2.8125rem;
  font-weight: 700;
  letter-spacing: 0.50625rem;

  margin-left: 0rem;
  padding-left: 0rem;
}

/* kjasbdfkjb */
.section1 > #leftSection {
  margin-left: 5.25rem;
  color: #000;
  font-family: "Poppins";
  font-size: 1.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.0725rem;

  width: 42.6875rem;
  margin-top: 1.69rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
#leftSection > button {
  color: #fff;
  font-family: "Poppins";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.175rem;

  border-radius: 1.125rem;
  background: #072049;

  margin-top: 3.19rem;
  margin-left: 6.56rem;

  width: 15.5625rem;
  height: 4.0625rem;
  flex-shrink: 0;
}
.section1 > .rightSection {
  width: 41.375rem;
  height: 41.375rem;
  flex-shrink: 0;

  /* background: url("./assets/Students Discussion Together.svg"),
    50% / cover no-repeat; */

  margin-right: 2rem;
}

.section1 #rectangle3 {
  position: absolute;
  width: 32.71019rem;
  height: 29.93756rem;
  transform: rotate(-44.571deg);
  flex-shrink: 0;

  border-radius: 0.75rem;
  border: 1px solid #000;
  background: rgba(217, 217, 217, 0);

  margin-top: 10rem;
  margin-right: 1.95rem;
  margin-left: 2.5rem;
}
.section1 > .rightSection > img {
  /* margin-top: 2.25rem;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem; */
  position: relative;
  width: 41.375rem;
  height: 41.375rem;
  flex-shrink: 0;
  margin-bottom: 6rem;
}

@media screen and (max-width: 1540px) {
  .section1 {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    justify-content: center;
    align-items: center;
    margin: auto auto;
  }
  #rightSectionImg {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 40.375rem;
    height: 40.375rem;
    flex-shrink: 0;
    /* margin-bottom: 6rem; */
    margin-left: 2rem;
    margin-bottom: 3rem;
  }
  .section1 > #leftSection {
    /* margin-left: 5.25rem; */
    color: #000;
    font-family: "Poppins";
    font-size: 1.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0725rem;

    /* width: 42.6875rem; */
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  s #leftSection > button {
    margin-left: 0rem;
  }
}
@media screen and (max-width: 1454px) {
  .section1 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    max-width: 90%;
  }
  #rightSectionImg {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 35.375rem;
    height: 35.375rem;
    flex-shrink: 0;
    /* margin-bottom: 6rem; */
    margin-left: 0rem;
    margin-bottom: 2rem;
  }
  .section1 > #leftSection {
    margin-left: 0rem;
    font-family: "Poppins";
    font-size: 1.3rem;
    letter-spacing: 0.0525rem;
    margin-top: 1rem;
  }
  #leftSection > button {
    margin-left: 0rem;
  }
}
@media screen and (max-width: 1200px) {
  .section1 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin: 0rem 0rem;
    max-width: 90%;
  }
  #rightSectionImg {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 30.375rem;
    height: 30.375rem;
    flex-shrink: 0;
    /* margin-bottom: 6rem; */
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 1.6rem;
  }
  .section1 > #leftSection {
    margin-left: 0rem;
    font-family: "Poppins";
    font-size: 1.2rem;
    letter-spacing: 0.0425rem;
    margin-top: 1rem;
  }
  #leftSection > button {
    font-size: 1.3rem;
    letter-spacing: 0.16rem;
    margin-top: 3rem;
    margin-left: 0rem;
    width: 12.5625rem;
    height: 3.5625rem;
  }
  .section1 > .rightSection {
    width: 41.375rem;
    height: 41.375rem;
  }
  .section1H1 {
    font-size: 2.4125rem;
    letter-spacing: 0.50625rem;
    margin-left: 0rem;
    padding-left: 0rem;
  }
}
@media screen and (max-width: 770px) {
  .section1 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin: 0rem 0rem;
    max-width: 90%;
  }
  #rightSectionImg {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 27.375rem;
    height: 27.375rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 2rem;
    margin-bottom: 1.3rem;
  }
  .section1 > #leftSection {
    margin-left: 0rem;
    font-family: "Poppins";
    font-size: 0.9rem;
    letter-spacing: 0.0425rem;
    margin-top: 1rem;
    width: max-content;
  }
  #leftSection > button {
    font-size: 1.1rem;
    letter-spacing: 0.16rem;
    margin-top: 3rem;
    margin-left: 0rem;
    width: 11.5625rem;
    height: 3.5625rem;
  }
  .section1 > .rightSection {
    width: 35.375rem;
    height: 35.375rem;
  }
  .section1H1 {
    font-size: 2.2125rem;
    letter-spacing: 0.50625rem;
    margin-left: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 615px) {
  .section1 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin: 0rem 0rem;
    max-width: 100%;
  }
  #rightSectionImg {
    width: 22.375rem;
    height: 22.375rem;
    margin-top: 1.7rem;
    margin-right: 0rem;
    margin-bottom: 1.2rem;
  }
  .section1 > #leftSection {
    font-size: 0.9rem;
    max-width: 90%;
  }
  #leftSection > button {
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
    margin-top: 2.5rem;
    width: 8.5625rem;
    height: 2.5625rem;
  }
  .section1 > .rightSection {
    width: 30.375rem;
    height: 30.375rem;
    margin-right: 0rem;
    padding-right: 0rem;
  }
  .section1H1 {
    font-size: 2rem;
    letter-spacing: 0.40625rem;
    margin-left: 0rem;
    padding-left: 0rem;
  }
}

/* Styling for Section 2 */
/********************** section 2 *******************/
/********************** Section 2_1 ********************/
/* Set Section 2 to display as a flex row, 100% of the viewport width */
.section2 {
  display: flex;
  flex-direction: row;
  position: none;
  margin-right: 0;
  width: 95%;
}

/* Styling for the first part of Section 2 */
#section2_1 {
  /* margin-left: 5.81rem; */
  margin-left: 5%;
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

/* Styling for the image within the first part of Section 2 */
#section2_1 > #leftSection img {
  width: 110rem;
  object-fit: contain;
}

/* Styling for the right part of Section 2 */
#section2_1 > #rightSection {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
}

/* Styling for Section 2's first paragraph */
#section2_1_p1 {
  width: 24.6875rem;
  height: 2.6875rem;
  flex-shrink: 0;
  color: #000;
  font-family: "Poppins";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 0.62rem;
}

/* Styling for Section 2's second paragraph */
#section2_1_p2 {
  width: 24.6875rem;
  height: 7.125rem;
  flex-shrink: 0;
  color: #000;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 2.06rem;
}

/* Styling for Section 2's third paragraph */
#section2_1_p3 {
  /* width: 33.625rem; */
  color: #000;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 3.44rem;
}

/* Styling for the correct icon */
#correctIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.95rem;
  object-fit: cover;
}

/* Styling for benefit elements */
#benifits {
  display: flex;
  flex-direction: row;
}

/* Styling for Section 2's fourth paragraph */
#section2_1_p4 {
  /* width: 31.8125rem; */
  color: #000;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 2.25rem;
}

/* Styling for Section 2's subheading within the fourth paragraph */
#section2_1_p4_b {
  width: 32.5625rem;
  color: #000;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

/* Responsive styling for Section 2 on screens up to 1040px */
@media screen and (max-width: 1040px) {
  #section2_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0% 0%;
  }

  #section2_1 > #leftSection img {
    width: 65%;
    margin-right: 0%;
    margin-bottom: 2.3rem;
  }
  #section2_1 > #leftSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0%;
  }

  #section2_1 > #rightSection {
    width: 90%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
  }
  #section2_1_p1 {
    width: 100%;
    height: auto;
    font-size: 1.41rem;
    margin-bottom: 0.6rem;
  }
  #section2_1_p2 {
    width: 100%;
    height: 4.125rem;
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  #section2_1_p3 {
    font-size: 1.1rem;
    margin-bottom: 3.3rem;
  }
  #section2_1_p4 {
    font-size: 1.1rem;
    margin-bottom: 2.2rem;
  }
}

/* More responsive styling for Section 2 on screens up to 690px */
@media screen and (max-width: 690px) {
  #section2_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0% 0%;
  }

  #section2_1 > #leftSection img {
    width: 50%;
    margin-right: 0%;
  }
  #section2_1 > #leftSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0%;
  }

  #section2_1 > #rightSection {
    width: 90%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
  }
  #section2_1_p1 {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  #section2_1_p2 {
    width: 100%;
    height: 4.125rem;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  #section2_1_p3 {
    font-size: 1rem;
    margin-bottom: 3rem;
    margin-top: 0rem;
  }
  #section2_1_p4 {
    font-size: 0.93rem;
    margin-bottom: 2.2rem;
  }
}

/********************** Section 2_3 ********************/
.section2_3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-between; */
  gap: 6.2%;
  align-items: center;
  /* margin-top: 5.65rem; */
  margin-top: 5.65%;
  /* margin-left: 5.75rem; */
  margin-left: 5.75%;
  /* margin-right: 5.75rem; */
  margin-right: 5.75%;
  max-width: 88%;
  overflow-y: hidden;
}
#section2_3_card {
  width: 21.75rem;
  height: 21.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 0;

  border-radius: 1.125rem;
  background: rgba(242, 242, 242, 0.74);
  margin-bottom: 2rem;
}
#section2_3_card_p1 {
  color: #000;
  font-family: "Poppins";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#section2_3_card_p2 {
  width: 18.8125rem;

  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
@media screen and (max-width: 690px) {
  #section2_3_card {
    width: 17.75rem;
    height: 17.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;

    border-radius: 1.125rem;
    background: rgba(242, 242, 242, 0.74);
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
  #section2_3_card_p1 {
    color: #000;
    font-family: "Poppins";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  #section2_3_card_p2 {
    width: 15.8125rem;

    color: #000;
    text-align: center;
    font-family: "Poppins";
    font-size: 0.775rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}

/********************** Section 2_5 ********************/
.section2_5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6.2rem;
  align-items: center;
  margin-top: 9.5rem;
  /* margin-left: 5.75rem;
  margin-right: 5.75rem; */
  /* overflow-y: hidden; */
  width: 80%;
}
#planeCard {
  width: 23.6875rem;
  height: 33.5625rem;
  flex-shrink: 0;

  border-radius: 0.90388rem;
  background: #f8f8f8;

  justify-content: center;
  align-items: center;
  text-align: center;
}
#planeCard {
  /* margin-left: 8.25rem; */
}
#section2_5_p1 {
  color: #37dab2;
  font-family: "Poppins";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 2.13rem;
}
#section2_5_p2 {
  color: #000;
  font-family: Poppins;
  font-size: 1.38344rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#section2_5_p3 {
  width: 5.11869rem;

  color: #737373;
  font-family: "Poppins";
  font-size: 1.15288rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: "strikethrough";
}

#planeCard > span {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  text-align: center;
}
#planeBenifits {
  justify-content: center;
  align-items: center;
  margin-bottom: 1.35rem;
}
#planeBenifits img {
  margin-right: 1.35rem;
}
#planeBenifits > p {
  color: #737373;
  font-family: "Poppins";
  font-size: 1.23819rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#planeCard > button {
  width: 14.25rem;
  height: 3.875rem;
  flex-shrink: 0;

  border-radius: 1.125rem;
  background: #4e69d8;

  color: #fff;
  font-family: "Poppins";
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 3rem;
}
#proPlane_p {
  color: #f7c963;
  font-family: "Poppins";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 2.13rem;
  padding: 0;
}

#discount1 {
  width: 12.25rem;
  height: 3.6875rem;
  flex-shrink: 0;

  border-radius: 1.125rem;
  background-color: #ebebeb;

  padding: 0.19rem 1.75rem 0.19rem 1.75rem;
  position: absolute;
}
#discount1 > p {
  color: #4e69d8;
  font-family: "Poppins";
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#discount1 {
  margin-top: -1.87rem;
  margin-left: 13.87rem;
}

@media screen and (max-width: 800px) {
  .section2_5 {
    gap: 2.2rem;
    margin-top: 4rem;
    height: max-content;
    flex-direction: column;
    width: 88%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #planeCard {
    width: 17.6875rem;

    height: 23.5625rem;
    border-radius: 0.90388rem;
    margin-bottom: 7rem;
  }
  #section2_5_p1 {
    font-family: "Poppins";
    font-size: 1.8rem;
    margin-top: 2rem;
  }
  #section2_5_p2 {
    font-size: 1.23rem;
  }
  #section2_5_p3 {
    width: 4.5rem;

    font-size: 1em;
  }
  #planeBenifits {
    margin-bottom: 1.35rem;
  }
  #planeBenifits img {
    margin-right: 1.2rem;
  }
  #planeBenifits > p {
    font-size: 1.1rem;
  }
  #planeCard > button {
    width: 10rem;
    height: 3rem;

    border-radius: 1.125rem;

    font-size: 1.1rem;

    margin-top: 2rem;
  }
  #proPlane_p {
    font-size: 1.7rem;

    margin-top: 1.8rem;
  }
  #discount1 {
    width: 9.25rem;
    height: 2.8rem;
    padding: 0.19rem 1.75rem 0.19rem 1.75rem;
  }
  #discount1 > p {
    font-size: 1.5rem;
  }
  #discount1 {
    margin-top: -1.87rem;
    margin-left: 13.87rem;
  }
}
@media screen and (max-width: 460px) {
  .section2_5 {
    gap: 2.2rem;
    margin-top: 3rem;
    height: max-content;
    flex-direction: column;
    width: 88%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #planeCard {
    width: 17.6875rem;

    height: 23.5625rem;
    border-radius: 0.90388rem;
    margin-bottom: 9rem;
  }
  #section2_5_p1 {
    font-family: "Poppins";
    font-size: 1.8rem;
    margin-top: 2rem;
  }
  #section2_5_p2 {
    font-size: 1.23rem;
  }
  #section2_5_p3 {
    width: 4.5rem;

    font-size: 1em;
  }
  #planeBenifits {
    margin-bottom: 1.35rem;
  }
  #planeBenifits img {
    margin-right: 1.2rem;
  }
  #planeBenifits > p {
    font-size: 1.1rem;
  }
  #planeCard > button {
    width: 10rem;
    height: 3rem;

    border-radius: 1.125rem;

    font-size: 1.1rem;

    margin-top: 2rem;
  }
  #proPlane_p {
    font-size: 1.7rem;

    margin-top: 1.8rem;
  }
  #discount1 {
    width: 9.25rem;
    height: 2.8rem;
    padding: 0.19rem 1.75rem 0.19rem 1.75rem;
  }
  #discount1 > p {
    font-size: 1.5rem;
  }
  #discount1 {
    margin-top: -1.87rem;
    margin-left: 11.87rem;
  }
}

/***************** section 3 ******************/

.section3 {
  width: 100%;
  /* height: 69.8125rem; */
  flex-shrink: 0;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */

  margin-top: 9.13rem;
}

.section3 > h2 {
  width: 34.375rem;
  height: 4.66569rem;
  flex-shrink: 0;

  color: #fff;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;

  margin-top: 11.94rem;
}

#reviewCards {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 4.7rem;
  align-items: center;
  margin-top: 5.33rem;
  max-width: 90%;
  margin-bottom: 7.19rem;
  overflow-y: scroll;
}
#reviewCard1 {
  width: 24.625rem;
  height: 27.0625rem;
  flex-shrink: 0;

  border-radius: 1.125rem;
  background: #f3fde8;

  display: flex;
  flex-direction: column;
  padding: 2rem;
}
#reviewCard2 {
  width: 24.625rem;
  height: 27.0625rem;
  flex-shrink: 0;

  border-radius: 1.125rem;
  background: #dfccfb;
  flex-direction: column;
  margin-top: 5.12rem;
  padding: 2rem;
}
#profile {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
}
#profile > img {
  margin-right: 1.68rem;
}
#profile > p {
  color: #000;
  font-family: "Poppins";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
#profile + p {
  width: 20.75rem;

  color: #000;
  font-family: "Poppins";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 2.69rem;
  margin-left: 0.59rem;
}

@media screen and (max-width: 1200px) {
  .section3 {
    width: 100%;
    flex-shrink: 0;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.13rem;
  }
  .section3 > h2 {
    font-size: 2.4rem;
    width: 80%;
    margin-top: 9rem;
  }
  #reviewCard1,
  #reviewCard2 {
    width: 20.625rem;
    height: 21.0625rem;
    padding: 1.6rem;
  }

  #reviewCard1 > p,
  #reviewCard2 > p {
    width: 18.75rem;
    font-size: 1.1rem;
    margin-top: 2.2rem;
    margin-left: 0.5rem;
  }
  #profile > p {
    font-size: 1.4rem;
  }
  #profile > img {
    margin-right: 1.5rem;
    width: 24%;
  }
}
@media screen and (max-width: 850px) {
  .section3 {
    width: 100%;
    flex-shrink: 0;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6.13rem;
  }
  .section3 > h2 {
    font-size: 2.2rem;
    width: 70%;
    margin-top: 7rem;
  }
  #reviewCard1,
  #reviewCard2 {
    width: 18.625rem;
    height: 19.0625rem;
    padding: 1.5rem;
  }

  #reviewCard1 > p,
  #reviewCard2 > p {
    width: 16.75rem;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
  #profile > p {
    font-size: 1.2rem;
  }
  #profile > img {
    margin-right: 1.5rem;
    width: 22%;
  }
}
@media screen and (max-width: 690px) {
  .section3 {
    margin-top: 5.13rem;
  }
  .section3 > h2 {
    font-size: 2rem;
    width: 70%;
    margin-top: 7rem;
  }
  #reviewCards {
    margin-top: 4%;
  }
  #reviewCard1,
  #reviewCard2 {
    width: 16.625rem;
    height: 18.0625rem;
    padding: 1.3rem;
  }

  #reviewCard1 > p,
  #reviewCard2 > p {
    width: auto;
    font-size: 0.9rem;
    margin-top: 0.8rem;
    margin-left: 0.2rem;
  }
  #profile > p {
    font-size: 1.1rem;
  }
  #profile > img {
    margin-right: 1.3rem;
    width: 21%;
  }
}
@media screen and (max-width: 480px) {
  .section3 {
    margin-top: 2.13rem;
  }
  .section3 > h2 {
    font-size: 1.8rem;
    width: 70%;
    margin-top: 5rem;
  }
  #reviewCards {
    margin-top: 2%;
  }
  #reviewCard1,
  #reviewCard2 {
    width: 13.625rem;
    height: 15.0625rem;
    padding: 1.2rem;
  }

  #reviewCard1 > p,
  #reviewCard2 > p {
    width: auto;
    font-size: 0.75rem;
    margin-top: 0.7rem;
    margin-left: 0.1rem;
  }
  #profile > p {
    font-size: 1.1rem;
  }
  #profile > img {
    margin-right: 0.8rem;
    width: 19%;
  }
}

/************************ section 4 ************************/
.section4 {
  width: 90%;
  /* height: 364.5625rem; */

  background: #fff;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* max-width: 88vw; */

  margin: 3.95rem 4vw 4.81rem 4vw;
}

#section4_right {
  display: flex;
  flex-direction: column;
  margin-left: 8.25rem;
  margin-top: 9.06rem;
}

#downloadLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.75rem;
}

#section4_p1 {
  color: #000;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
  margin-bottom: 1.67rem;
}
#section4_p2 {
  width: 30.6875rem;

  color: #000;
  font-family: "Poppins";
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.06875rem;
  text-transform: capitalize;

  margin-bottom: 5.44rem;
}
@media screen and (max-width: 1460px) {
  #section4_right {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 1340px) {
  .section4 {
    gap: 2rem;
  }
  #section4_right {
    margin-left: 0rem;
  }
  #section4PhoneImg {
    width: 44%;
    margin-bottom: 3rem;
  }
  #section4_p1 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
  }
  #section4_p2 {
    width: 27rem;
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 1120px) {
  #section4PhoneImg {
    width: 40%;
  }
}
@media screen and (max-width: 1045px) {
  #section4PhoneImg {
    width: 40%;
  }
  #section4_right {
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
  }
  #section4_p1 {
    font-size: 2.1rem;
    margin-bottom: 1.3rem;
  }
  #section4_p2 {
    width: 25rem;
    font-size: 1.1rem;
    margin-bottom: 3rem;
  }
  #downloadLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #downloadLink > img {
    width: 40%;
  }
  #downloadLink > #img2 {
    width: 45%;
  }
}
@media screen and (max-width: 780px) {
  #section4PhoneImg {
    width: 50%;
    margin-bottom: 2.5rem;
  }
  #section4_right {
    margin-top: 1.2rem;
  }
}
@media screen and (max-width: 690px) {
  #section4_right {
    margin-top: 1rem;
  }
  #section4_p1 {
    width: 22rem;
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  #section4_p2 {
    width: 22rem;
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }
  #downloadLink > img {
    width: 35%;
  }
  #downloadLink > #img2 {
    width: 41%;
  }
}
@media screen and (max-width: 440px) {
  #section4_right {
    margin-top: -2rem;
  }
  #section4_p1 {
    width: 16rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  #section4_p2 {
    width: 16rem;
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }

  #section4PhoneImg {
    width: 60%;
    margin-bottom: 2rem;
  }
}
/********************** footer  *****************************/

.footer {
  /* width: 90rem;
  height: 21.5625rem; */

  width: 100%;
  flex-shrink: 0;

  background: #000;
  color: white;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-left: 5.25rem;
  padding-right: 3.81rem;
  padding-top: 5.19rem;
  padding-bottom: 1.5rem;
  gap: 16.88rem;
}
#company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

  max-width: 15.375rem;
}
#footerCompany_p1 {
  color: #fff;
  font-family: "Eczar";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
}
#footerCompany_p2 {
  width: 15.375rem;

  color: #fff;
  font-family: "Poppins";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
#footerCompany_p3 {
  color: #fff;
  font-family: "Poppins";
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.01375rem;
  text-transform: capitalize;
}
#socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 2rem;
  margin-top: 1.31rem;
  margin-bottom: 2rem;
}

#usefulLinks {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* gap: 0.7rem; */
  /* justify-content: center; */

  width: max-content;
}
#usefulLinks > h2 {
  color: #fff;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 0.81rem;
}
#usefulLinks > a {
  /* width: 3.3125rem; */

  color: #fff;
  font-family: "Poppins";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;

  /* margin-bottom: 0.81rem; */
  margin-bottom: 0.81rem;
}

#contact {
  display: flex;
  flex-direction: column;

  /* justify-content: center; */

  /* width: max-content; */
}

#contact > h2 {
  color: #fff;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;

  margin-bottom: 0.7rem;
}

#contact > p {
  /* width: 14.0625rem; */

  color: #fff;
  font-family: "Poppins";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.00938rem;
  text-transform: capitalize;

  margin-bottom: 1.4rem;
  max-width: 17.56rem;
}

#emailInput {
  /* width: 17.5625rem; */
  height: 3rem;
  flex-shrink: 0;

  border-radius: 1.125rem;
  background: #fff;

  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  justify-content: start;
  align-items: center;

  max-width: 17.56rem;
  padding: 0.4rem;
}

#emailInput > input {
  all: unset;
  width: 8.875rem;
  height: 1.8125rem;
  flex-shrink: 0;

  color: #555;
  text-align: center;
  font-family: "Poppins";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.04rem;

  margin-right: 5.22rem;

  outline: none;
  outline-offset: none;
}

#emailInput > img {
  object-fit: cover;
}

@media screen and (max-width: 1320px) {
  .footer {
    gap: 0rem;
  }
}
@media screen and (max-width: 1280px) {
  .footer {
    max-width: 100%;
  }
}
@media screen and (max-width: 940px) {
  .footer {
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 4rem;
    padding: auto auto;
  }
}
@media screen and (max-width: 480px) {
  #emailInput {
    max-width: 12.56rem;
  }
  #emailInput > input {
    margin-right: 1rem;
    width: 8rem;
  }
  .footer {
    padding-left: 2.25rem;
    padding-right: 1.81rem;
    padding-top: 5.19rem;
    padding-bottom: 1.5rem;
  }
}

/******************** Contact.html  *****************/

/****************** left Section  ********************/
.contactSection {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 9.38rem;
  padding-left: 10vw;
  padding-right: 10vw;
}
#contactLeftSec {
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin-bottom: 9.56rem;
}
#contactLeftSec > h2 {
  width: 23.4375rem;

  color: #072049;
  font-family: "Poppins";
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1625rem;
  text-transform: capitalize;
}

#contactLeftSec > p {
  width: 21.875rem;
  height: 6.5rem;
  flex-shrink: 0;

  color: #000;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;

  margin-bottom: 5.31rem;
}

#contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

#email,
#phone,
#location {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
#email > img,
#phone > img,
#location > img {
  margin-right: 1.75rem;
}

/************************ right section  **********************/

.contactSection > #contactRightSec {
  width: 30.1875rem;
  height: 36.8125rem;
  flex-shrink: 0;

  border-radius: 1.125rem;
  background: #f9f9f9;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.3);

  padding: 2.87rem;

  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: center;

  /* margin-bottom: 9.56rem; */
  /* margin-top: 1.66rem; */
  margin-left: 45rem;

  position: absolute;

  margin-top: 4.81rem;
}
.contactSection > #contactRightSec > h2 {
  width: 18.9375rem;

  color: #072049;
  font-family: "Poppins";
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.02188rem;
  text-transform: uppercase;

  margin-bottom: 2.56rem;
}
.contactSection > #contactRightSec > #rightSectionName,
.contactSection > #contactRightSec > #rightSectionMail {
  width: 23.5625rem;
  height: 4.0625rem;
  flex-shrink: 0;

  border-radius: 0.5rem;
  border: 2px solid #072049;
  background: rgba(217, 217, 217, 0);

  margin-bottom: 1.81rem;
}

.contactSection > #contactRightSec > #rightSectionMessage {
  width: 23.5625rem;
  height: 8.5rem;
  flex-shrink: 0;

  border-radius: 0.5rem;
  border: 2px solid #072049;
  background: rgba(217, 217, 217, 0);

  margin-bottom: 1.81rem;
}
.contactSection > #contactRightSec > button {
  width: 19.6875rem;
  height: 3.5625rem;
  flex-shrink: 0;

  border-radius: 2.72331rem;
  background: #072049;

  color: white;
}

/*************** aboutUs.html  *****************/

/************** section 1 *****************/

.aboutUsSection1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 9.62rem;
}
.aboutUsSection1 > h2 {
  color: #000;
  font-family: "Poppins";
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.50625rem;
}
.aboutUsSection1 > p {
  width: 42.6875rem;

  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 1.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.0725rem;

  margin-top: 1.69rem;
  margin-bottom: 3.19rem;
}
.aboutUsSection1 > button {
  width: 15.5625rem;
  height: 4.0625rem;
  flex-shrink: 0;

  border-radius: 1.125rem;
  background: #072049;

  /* width: 11.5rem; */

  color: #fff;
  font-family: "Poppins";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.175rem;
}

/************** section 2 *****************/

.aboutUsSection2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13.81rem;
  width: 100%;
}
.aboutUsSection2 > p {
  color: #000;
  font-family: "Poppins";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 3.16rem;
}
#box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  overflow-y: scroll;
  max-width: 70%;
}
#box1 > div {
  width: 8.875rem;
  height: 4.50438rem;
  flex-shrink: 0;

  border-radius: 0.89194rem;
  background: #bdbdbd;
  box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.42);
}

@media screen and (max-width: 600px) {
  #box1 {
    gap: 0.65rem;
    max-width: 90%;
  }
  #box1 > div {
    width: 6.875rem;
    height: 3.50438rem;
  }
}
/************** section 3 *****************/
.aboutUsSection3 {
  width: 56.125rem;

  color: #000;
  font-family: "Poppins";
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.06rem;
  text-transform: capitalize;

  margin-top: 16.5rem;
  margin-left: 5.19rem;
}

/************** section 4 *****************/
.aboutUsSection4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 28.5rem;
  gap: 6.19rem;
}

.aboutUsSection4 > #card1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90vw;
}

#aboutUsSection4Card1_d1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: start;
}
#aboutUsSection4Card1_p1 {
  color: #000;
  font-family: "Poppins";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.04rem;
  text-transform: capitalize;

  margin-bottom: 1.88rem;
}
#aboutUsSection4Card1_p2 {
  width: 21.875rem;
  height: 4.57606rem;
  flex-shrink: 0;

  color: #000;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
#aboutUsSection4Card1_d2 {
  width: 36.25rem;
  height: 20.25rem;
  flex-shrink: 0;

  border-radius: 1.25rem;
  background: #808080;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
}
#aboutUsSection4Card1_d2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.aboutUsSection4 > #card1 > img {
  /* object-fit: cover; */
  /* width: 100%;
  height: 100%; */

  margin-left: 4.12rem;
}

/************** section 5 *****************/
.aboutUsSection5 {
  display: flex;
  flex-direction: column;

  margin-top: 13.75rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 7.69rem;
  width: 100%;
}
.aboutUsSection5 > p {
  width: 34.375rem;
  height: 4.66569rem;
  flex-shrink: 0;

  color: #000;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
#aboutUsSection5Box {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  /* justify-content: space-between; */
  align-items: center;

  gap: 4.75rem;
  /* margin-top: 5.15rem; */
  width: 90%;
}
#aboutUsSection5d1 {
  width: 24.625rem;
  height: 27.0625rem;
  flex-shrink: 0;
  justify-content: space-around;
  border-radius: 1.125rem;
  background: #f3fde8;
  margin-top: 7.4rem;
  /* margin-left: 4rem; */
}
#aboutUsSection5d2 {
  width: 24.625rem;
  height: 27.0625rem;
  flex-shrink: 0;

  border-radius: 1.125rem;
  background: #dfccfb;

  margin-top: 12.52rem;
}
#aboutUsSection5d3 {
  width: 24.625rem;
  height: 27.0625rem;
  flex-shrink: 0;

  justify-content: space-around;

  border-radius: 1.125rem;
  background: #fff3da;
  /* margin: 5.15rem; */
}

@media screen and (max-width: 1100px) {
  .aboutUsSection5 {
    margin-top: 12.75rem;
    margin-bottom: 6.69rem;
  }
  .aboutUsSection5 > p {
    width: fit-content;
    font-size: 2.2rem;
  }
  #aboutUsSection5d1 {
    width: 22.625rem;
    height: 25.0625rem;
    margin-top: 6.4rem;
  }
  #aboutUsSection5d2 {
    width: 22.625rem;
    height: 25.0625rem;
    margin-top: 11.52rem;
  }
  #aboutUsSection5d3 {
    width: 22.625rem;
    height: 25.0625rem;
  }
}
@media screen and (max-width: 800px) {
  .aboutUsSection5 {
    margin-top: 11.75rem;
    margin-bottom: 5.69rem;
  }
  .aboutUsSection5 > p {
    width: fit-content;
    font-size: 2rem;
  }
  #aboutUsSection5d1 {
    width: 20.625rem;
    height: 23.0625rem;
    margin-top: 6.4rem;
  }
  #aboutUsSection5d2 {
    width: 20.625rem;
    height: 23.0625rem;
    margin-top: 11.52rem;
  }
  #aboutUsSection5d3 {
    width: 20.625rem;
    height: 23.0625rem;
  }
}
@media screen and (max-width: 600px) {
  .aboutUsSection5 {
    margin-top: 10.75rem;
    margin-bottom: 4.69rem;
  }
  .aboutUsSection5 > p {
    width: fit-content;
    font-size: 1.8rem;
  }
  #aboutUsSection5d1 {
    width: 18.625rem;
    height: 21.0625rem;
    margin-top: 6.4rem;
  }
  #aboutUsSection5d2 {
    width: 18.625rem;
    height: 21.0625rem;
    margin-top: 11.52rem;
  }
  #aboutUsSection5d3 {
    width: 18.625rem;
    height: 21.0625rem;
  }
}
@media screen and (max-width: 500px) {
  .aboutUsSection5 {
    margin-top: 9.75rem;
    margin-bottom: 3.69rem;
  }
  .aboutUsSection5 > p {
    width: fit-content;
    font-size: 1.6rem;
  }
  #aboutUsSection5d1 {
    width: 16.625rem;
    height: 19.0625rem;
    margin-top: 6.4rem;
  }
  #aboutUsSection5d2 {
    width: 16.625rem;
    height: 19.0625rem;
    margin-top: 11.52rem;
  }
  #aboutUsSection5d3 {
    width: 16.625rem;
    height: 19.0625rem;
  }
}
@media screen and (max-width: 450px) {
  .aboutUsSection5 {
    margin-top: 7.75rem;
    margin-bottom: 2.69rem;
  }
  .aboutUsSection5 > p {
    width: fit-content;
    font-size: 1.5rem;
  }
  #aboutUsSection5d1 {
    width: 14.625rem;
    height: 17.0625rem;
    margin-top: 6.4rem;
  }
  #aboutUsSection5d2 {
    width: 14.625rem;
    height: 17.0625rem;
    margin-top: 11.52rem;
  }
  #aboutUsSection5d3 {
    width: 14.625rem;
    height: 17.0625rem;
  }
}
@media screen and (max-width: 400px) {
  .aboutUsSection5 {
    margin-top: 6.75rem;
    margin-bottom: 2.69rem;
  }
  .aboutUsSection5 > p {
    width: fit-content;
    font-size: 1.4rem;
  }
  #aboutUsSection5d1 {
    width: 13.625rem;
    height: 16.0625rem;
    margin-top: 6.4rem;
  }
  #aboutUsSection5d2 {
    width: 13.625rem;
    height: 16.0625rem;
    margin-top: 11.52rem;
  }
  #aboutUsSection5d3 {
    width: 13.625rem;
    height: 16.0625rem;
  }
}

/******************* Find Job.html  *********************/
/******************** Section 1 *******************/
/****************** leftSection  *******************/
.findJobSection1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  align-items: center;
  margin-top: 5.62rem;
  gap: 12.31rem;
}
#findJobSection1_LeftSec {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#findJobSection1_LeftSec > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* margin-bottom: 1.5rem; */
}
#findJobSection1_LeftSecP1 {
  /* width: 40.3125rem; */
  width: 33.3125rem;

  color: #000;
  font-family: "Poppins";
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.065rem;
  text-transform: capitalize;
}
#findJobSection1_LeftSecP2 {
  width: 30.6875rem;
  /* width: 40.3125rem; */

  color: #000;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0225rem;
  text-transform: capitalize;

  /* margin-right: 9.3rem; */

  margin-top: 2.5rem;
  margin-bottom: 4.19rem;
}
#findJobSection1_LeftSec > button {
  width: 21.5625rem;
  height: 4.6875rem;
  flex-shrink: 0;

  border-radius: 2.72331rem;
  background: #072049;

  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.03rem;
  text-transform: capitalize;
}

/****************** rightSection  *******************/

#findJobSection1_RightSec {
}
#findJobSection1_RightSec > img {
}

@media screen and (max-width: 1346px) {
  .findJobSection1 {
    margin-top: 5.62rem;
    gap: 6.31rem;
  }
}
@media screen and (max-width: 1290px) {
  .findJobSection1 {
    margin-top: 5.62rem;
    gap: 5.31rem;
  }
  #findJobSection1_RightSec {
    width: 29rem;
  }
  #findJobSection1_LeftSecP1 {
    width: 27rem;
    font-size: 2.5rem;
  }
  #findJobSection1_LeftSec > button {
    width: 19rem;
    height: 3.6875rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 690px) {
  .findJobSection1 {
    margin-top: 4.62rem;
    gap: 3.31rem;
  }
  #findJobSection1_RightSec {
    width: 90%;
  }
  #findJobSection1_LeftSecP1 {
    width: 100%;
    /* font-size: 2.3rem; */
    font-size: 200%;
    padding: 2%;
  }
  #findJobSection1_LeftSecP2 {
    width: 100%;
    font-size: 1.125rem;
    padding: 2%;
    margin-top: 2rem;
    margin-bottom: 3.19rem;
  }
  #findJobSection1_LeftSec > button {
    width: 19rem;
    height: 3.6875rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
  .findJobSection1 {
    margin-top: 3.62rem;
    gap: 3.1rem;
  }
  #findJobSection1_RightSec {
    width: 80%;
  }
  #findJobSection1_LeftSecP1 {
    width: 100%;
    /* font-size: 2.3rem; */
    font-size: 150%;
    padding: 2%;
  }
  #findJobSection1_LeftSecP2 {
    width: 100%;
    font-size: 1rem;
    padding: 2%;
    margin-top: 1rem;
    margin-bottom: 2.7rem;
  }
  #findJobSection1_LeftSec > button {
    width: 14rem;
    height: 3.5rem;
    font-size: 1.1rem;
  }
}

/****************** Section 2 *******************/

/****************** Section 3 *******************/

.findJobSection3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;

  max-width: 100%;
}
#findJobSection3p1 {
  color: #000;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
#findJobSection3Box1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  gap: 3.06rem;

  margin-top: 8.19rem;
  padding-left: 2.8rem;
  padding-right: 2.8rem;
}
#findJobSection3d1 {
  width: 23.8125rem;
  height: 15.25rem;
  flex-shrink: 0;

  border-radius: 1.125rem;
  border: 1px solid #9c9c9c;
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.42);

  padding-left: 0.88rem;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
#findJobSection3d1 > img {
}
#findJobSection3d1p1 {
  color: #000;
  font-family: "Poppins";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 1.63rem;
  margin-bottom: 1.63rem;
}
#findJobSection3d1p2 {
  color: #777;
  font-family: "Poppins";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 600px) {
  .findJobSection3 {
    margin-top: 8rem;
  }
  #findJobSection3p1 {
    font-size: 2rem;
  }
  #findJobSection3Box1 {
    gap: 1.3rem;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 404px) {
  #findJobSection3d1 {
    width: 120%;
    height: 12rem;

    padding-left: 0.88rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #findJobSection3p1 {
    font-size: 1.6rem;
  }
  #findJobSection3d1 > img {
    width: 25%;
  }
  #findJobSection3d1p1 {
    font-size: 0.8rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
  #findJobSection3d1p2 {
    font-size: 0.8rem;
  }
}

/****************** Section 4 *******************/
.findJobSection4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20.25rem;
  margin-bottom: 1.63rem;
  /* margin-left: 5rem;
  margin-right: 5rem; */

  width: 88%;
}

#findJobSection4_LeftSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

#findJobSection4_leftSecP1 {
  width: 13.8125rem;

  color: #072049;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

#findJobSection4_leftSecP2 {
  width: 42.3125rem;

  color: #000;
  font-family: "Poppins";
  font-size: 3.4375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.06875rem;
}

#findJobSection4_leftSecP3 {
  width: 27.4375rem;
  height: 4.5625rem;
  flex-shrink: 0;

  color: #000;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;

  margin-top: 1.25rem;
  margin-bottom: 3.5rem;
}

#findJobSection4_leftSecBoxD {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  margin-bottom: 2.38rem;
}
#findJobSection4_leftSecBoxD > img {
  margin-right: 0.5rem;
}
#findJobSection4_leftSecBoxD > p {
  width: 33.8125rem;

  color: #000;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
@media screen and (max-width: 1400px) {
  #findJobSection4_leftSecP2 {
    width: 40.3125rem;
    font-size: 3.2375rem;
  }
  #findJobSection4_leftSecP3 {
    width: 29.4375rem;
    height: 4.5625rem;
    flex-shrink: 0;
    margin-top: 1rem;
    margin-bottom: 3.5rem;
  }
}
@media screen and (max-width: 1290px) {
  .findJobSection4 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 12.25rem;
    margin-bottom: 1.63rem;
  }
  #findJobSection4_leftSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 2%;
  }
  #findJobSection4_leftSecP2 {
    width: fit-content;
    font-size: 3rem;
  }
  #findJobSection4_leftSecP3 {
    width: fit-content;
    height: 4.5625rem;
    flex-shrink: 0;
    margin-top: 1rem;
    margin-bottom: 3.5rem;
  }
  #findJobSection4_RightSec {
    width: 45%;
  }
}
@media screen and (max-width: 800px) {
  .findJobSection4 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 9.25rem;
    margin-bottom: 1.63rem;
  }
  #findJobSection4_leftSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    padding: 2%;
  }
  #findJobSection4_leftSecP2 {
    width: fit-content;
    font-size: 2rem;
  }
  #findJobSection4_leftSecP3 {
    width: fit-content;
    height: 4.5625rem;
    font-size: 1rem;
    flex-shrink: 0;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
  }
  #findJobSection4_leftSecBoxD > p {
    width: fit-content;
    font-size: 1rem;
  }
  #findJobSection4_RightSec {
    width: 55%;
  }
  #findJobSection4_leftSecBoxD > img {
    margin-right: 0.4rem;
    width: 1.8rem;
  }
  #findJobSection4_leftSecBoxD {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 580px) {
  .findJobSection4 {
    margin-top: 7.25rem;
    width: 99%;
  }
  #findJobSection4_leftSec {
    width: 95%;
    padding: 2%;
  }
  #findJobSection4_leftSecP2 {
    font-size: 1.8rem;
  }
  #findJobSection4_RightSec {
    width: 60%;
  }
  #findJobSection4_leftSecBoxD {
    margin-bottom: 1.3rem;
  }
}
@media screen and (max-width: 450px) {
  .findJobSection4 {
    margin-top: 3rem;
    width: 99%;
  }
  #findJobSection4_leftSec {
    width: 97%;
    padding: 1%;
  }
  #findJobSection4_leftSecP2 {
    font-size: 1.6rem;
  }
  #findJobSection4_leftSecP3 {
    width: fit-content;
    height: 5.5625rem;
    font-size: 1rem;
  }
  #findJobSection4_RightSec {
    width: 70%;
  }
  #findJobSection4_leftSecBoxD {
    margin-bottom: 1.1rem;
  }
}
